<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.iot.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSupplierServlet</servlet-name>
        <servlet-class>uts.iot.controller.addSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSupplierServlet</servlet-name>
        <servlet-class>uts.iot.controller.editSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSupplierServlet</servlet-name>
        <servlet-class>uts.iot.controller.deleteSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierIDFilterServlet</servlet-name>
        <servlet-class>uts.iot.controller.SupplierIDFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplyFilterServlet</servlet-name>
        <servlet-class>uts.iot.controller.SupplyFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterSupplierServlet</servlet-name>
        <servlet-class>uts.iot.controller.FilterSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>uts.iot.controller.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <servlet-class>uts.iot.controller.DeleteSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplierServlet</servlet-name>
        <servlet-class>uts.iot.controller.EditSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShipmentDetails</servlet-name>
        <servlet-class>uts.iot.controller.DeleteShipmentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShipmentDetailsServlet</servlet-name>
        <servlet-class>uts.iot.controller.DeleteShipmentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShipmentDetailsServlet</servlet-name>
        <servlet-class>uts.iot.controller.EditShipmentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipmentDetailsServlet</servlet-name>
        <servlet-class>uts.iot.controller.ShipmentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipmentServlet</servlet-name>
        <servlet-class>uts.iot.controller.ShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShipmentDetailsServlet</servlet-name>
        <servlet-class>uts.iot.controller.UpdateShipmentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShipmentServlet</servlet-name>
        <servlet-class>uts.iot.controller.ViewShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addShipmentDetailsServlet</servlet-name>
        <servlet-class>uts.iot.controller.addShipmentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>uts.iot.controller.CancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAccessLogServlet</servlet-name>
        <servlet-class>uts.iot.controller.CustomerAccessLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerEditServlet</servlet-name>
        <servlet-class>uts.iot.controller.CustomerEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFilterDateServlet</servlet-name>
        <servlet-class>uts.iot.controller.CustomerFilterDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <servlet-class>uts.iot.controller.CustomerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdateServlet</servlet-name>
        <servlet-class>uts.iot.controller.CustomerUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>uts.iot.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterDateServlet</servlet-name>
        <servlet-class>uts.iot.controller.FilterDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.iot.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.iot.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccessLogServlet</servlet-name>
        <servlet-class>uts.iot.controller.StaffAccessLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <servlet-class>uts.iot.controller.StaffDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEditServlet</servlet-name>
        <servlet-class>uts.iot.controller.StaffEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>uts.iot.controller.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <servlet-class>uts.iot.controller.StaffUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPaymentMethodServlet</servlet-name>
        <servlet-class>uts.iot.controller.AddPaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <servlet-class>uts.iot.controller.PaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>uts.iot.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>uts.iot.controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPaymentMethodServlet</servlet-name>
        <servlet-class>uts.iot.controller.ViewPaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceDetailServlet</servlet-name>
        <servlet-class>uts.iot.controller.DeviceDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceListController</servlet-name>
        <servlet-class>uts.iot.controller.DeviceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editDeviceServlet</servlet-name>
        <servlet-class>uts.iot.controller.EditDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>uts.iot.controller.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>uts.iot.controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateOrderServlet</servlet-name>
        <servlet-class>uts.iot.controller.updateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>uts.iot.controller.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSupplierServlet</servlet-name>
        <url-pattern>/addSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSupplierServlet</servlet-name>
        <url-pattern>/editSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSupplierServlet</servlet-name>
        <url-pattern>/deleteSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierIDFilterServlet</servlet-name>
        <url-pattern>/SupplierIDFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplyFilterServlet</servlet-name>
        <url-pattern>/SupplyFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterSupplierServlet</servlet-name>
        <url-pattern>/FilterSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/AddSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <url-pattern>/DeleteSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplierServlet</servlet-name>
        <url-pattern>/EditSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShipmentDetails</servlet-name>
        <url-pattern>/DeleteShipmentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShipmentDetailsServlet</servlet-name>
        <url-pattern>/DeleteShipmentDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShipmentDetailsServlet</servlet-name>
        <url-pattern>/EditShipmentDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipmentDetailsServlet</servlet-name>
        <url-pattern>/ShipmentDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipmentServlet</servlet-name>
        <url-pattern>/ShipmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShipmentDetailsServlet</servlet-name>
        <url-pattern>/UpdateShipmentDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShipmentServlet</servlet-name>
        <url-pattern>/ViewShipmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addShipmentDetailsServlet</servlet-name>
        <url-pattern>/addShipmentDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAccessLogServlet</servlet-name>
        <url-pattern>/CustomerAccessLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerEditServlet</servlet-name>
        <url-pattern>/CustomerEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFilterDateServlet</servlet-name>
        <url-pattern>/CustomerFilterDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <url-pattern>/CustomerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdateServlet</servlet-name>
        <url-pattern>/CustomerUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterDateServlet</servlet-name>
        <url-pattern>/FilterDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccessLogServlet</servlet-name>
        <url-pattern>/StaffAccessLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <url-pattern>/StaffDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEditServlet</servlet-name>
        <url-pattern>/StaffEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <url-pattern>/StaffUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaymentMethodServlet</servlet-name>
        <url-pattern>/AddPaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <url-pattern>/PaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPaymentMethodServlet</servlet-name>
        <url-pattern>/ViewPaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceDetailServlet</servlet-name>
        <url-pattern>/DeviceDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceListController</servlet-name>
        <url-pattern>/devices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editDeviceServlet</servlet-name>
        <url-pattern>/editDevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/CreateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateOrderServlet</servlet-name>
        <url-pattern>/updateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
